/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 */
 @import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.btn-custom {
	padding: 0.2rem 0.7rem;
	font-size: 0.70rem;
	line-height: 1.0;
	border-radius: 0.15rem;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
 	line-height: 1em;
}

h1 {
 	font-size: 1.5em;
 	letter-spacing: -2px;
 	margin-bottom: 30px;
 	text-align: center;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
}


/* Navbar */

.navbar {
	padding: 0.1rem 1rem;
	background-color: black;
}

.nav-link {
	font-size: 0.8rem;
}

#logo {
	float: left;
 	margin-right: 10px;
 	font-size: 1.2rem;
 	letter-spacing: -1px;
 	padding: 0;
 	font-weight: bold;
}


/* Header */

.heading {
	font-size: 1.4rem;
	font-weight: bolder;
	text-align: center;
}

/*  */

#operatings, #spreadsheet, #projects, #project_form {
	font-size: 0.725em;
	table {
		width: 98%;
		background-color: #f8f9fa;

		tr.holiday {
			background-color: #FFC0CB;
			.date, .dow {
				color: #FF0000;
			}
		}

		tr.saturday {
			background-color: #99CCFF;
			.date, .dow {
				color: #0000FF;
			}
		}

		th, td.header {
			text-align: center;
			color: white;
			background-color: black;
			border: solid 2px white;
			font-weight: bold;
		}

		td {
			text-align: center;
			border: solid 2px white;

			input {
				width: 98%;
				font-size: 0.975em;
			}

			input.input_time {
				text-align: right;
			}

			input.input_summary {
			}

			input.input_project {
				width: 98%;
			}

			input.input_month {
				width: 98%;
				text-align: center;
			}

		}

		td.project_name {
			text-align: left;
			padding: 0.1em 0.5em;
		}

		td.time {
			text-align: right;
			padding: 0.1em 0.5em;
		}

		td.summary {
			text-align: left;
			padding: 0.1em 0.5em;
		}

		td.total {
			font-weight: bold;
			background-color: #e0e1e2;
		}

		td.total_time {
			background-color: #e0e1e2;
			text-align: right;
			padding: 0.1em 0.5em;
		}

		td.period {
			text-align: center;
			padding: 0.1em 0.5em;
		}

		td.radio_button {
			width: 22px;
			padding: 2px 0 0 0;
			input {
				padding: 0px;
				margin-left: 2px;
			}
		}

	}
}

#projects {
	table tr:hover {
		background-color: #FFCC99;
	}
}

#project_form {
	table {
		input[type=radio] {
			width: 20px;
		}

		input[type=month] {
			width: 7.5rem;
		}
		
	}
}


/* animation */

.sub_row {
/*	-webkit-transition:height 1s;
	transition:height 1s;*/
}

.sub_col {
	height: 0;
/*	-webkit-transition: height 1s;
	transition: height 1s;*/
	padding: 0px;
	z-index: -1;
	overflow: hidden;
}

.sub_col.opened {
	height: 1.5rem;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


