/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


/* typography */

h1, h2, h3, h4, h5, h6 {
 	line-height: 1em;
}

h1 {
 	font-size: 1.5em;
 	letter-spacing: -2px;
 	margin-bottom: 30px;
 	text-align: center;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
}


/* Navbar */

.navbar {
	padding: 0.1rem 1rem;
	background-color: black;
}

.nav-link {
	font-size: 0.8rem;
}

#logo {
	float: left;
 	margin-right: 10px;
 	font-size: 1.2rem;
 	letter-spacing: -1px;
 	padding: 0;
 	font-weight: bold;
}


/* Operatings */

#operatings, #spreadsheet {
	font-size: 0.8em;
	table {
		background-color: #f8f9fa;
		th {
			text-align: center;
			color: #FFFFFF;
			background-color: #000000;
			border: solid 1px #FFFFFF;
		}

		td {
			text-align: center;
			border: solid 1px #FFFFFF;

			select {
				width: 98%;
			}

			input {
				width: 98%;
				font-size: 0.9em;
			}

			input.input_time {
				text-align: right;
			}

			input.input_summary {
			}
		}

		td.project_name {
			text-align: left;
			padding: 0.1em 0.5em;
		}

		td.time {
			text-align: right;
			padding: 0.1em 0.5em;
		}

		td.summary {
			text-align: left;
			padding: 0.1em 0.5em;
		}

		td.total {
			font-weight: bold;
			background-color: #e0e1e2;
		}

		td.total_time {
			background-color: #e0e1e2;
			text-align: right;
			padding: 0.1em 0.5em;
		}

	}
}

.saturday {
	color: #0000FF;
	background-color: #99CCFF;
}

.holiday {
	color: #FF0000;
	background-color: #FFC0CB;
}

.sub_row {
/*
	-webkit-transition:height 2s;
	transition:height 2s;_
*/
}

.sub_col {
	height: 0;
/*
	-webkit-transition: height 1s;
	transition: height 1s;
*/
	padding: 0px;
	z-index: -1;
	overflow: hidden;
}

.sub_col.opened {
	height: 1.5rem;
}





